<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>cars</h1><table border="2">
    <thead>
    <tr>
        <th>MODEL</th>
        <th>COLOR</th>
        <th>YEAR</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car: ${cars}">
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getColor()}"></td>
        <td th:text="${car.getYear()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>